* {
    font-family: 'Lexend', sans-serif;
    text-align: center;
}

body {
    background-color: #fff9f1;
    height: 100%;
    overflow: hidden;
}

.display_table {
    position: center;
    align-self: center;
    background-color: #ece4da;
    border: 2px solid;
    border-color: white;
    border-spacing: 0px;
    margin: auto;
    border-collapse: collapse;
    text-align: center;
}

th {
    font-family: 'Lexend';
    border-width: 5px; 
    padding: 5px;  
}

td {
    font-family: 'Lexend', sans-serif;
    color: black;
    border: 2px solid;
    border-color: white;
    padding: 5px;
}

th:last-child, td:last-child {
    border-right-width: 0px;
}

.table1 {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

.select {
    padding: 10px;
}

a{
    text-decoration: none;
    color: rgb(45, 45, 111);
    font-style: italic;
}

a:visited {
    color: rgb(45, 45, 111);
    
}

h1 {
    text-align: center;
    margin: auto;
    width: 100%;
    padding: 5px;
    font-family: 'Yuji Hentaigana Akari', cursive;
    font-size: 3em;
    color: #262e76;
}

h2 {
    font-size: 200%;
}

.top_bar {
    justify-content: space-between;
    width: 100%;
    margin: auto;
    display: flex;
}

.login {
    width: 100%;
    height: 100%;
    display: flex;
    margin: 0px;
    padding: 0%;
}

.login_left {
    width: 48%;
    height: 96%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f98e73;
    border: solid 1em;
    border-color: #fbaf9c;
    margin: 0%;
}

.login_right {
    border: bold;
    width: 48%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 0%;
}

.center_w_header {
    border: bold;
    width: 100%;
    height: 90%;
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0;
    border: 0;
    padding: 0;
}

.login_class_form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#login_image {
    width: 80%;
    opacity: 90%;
}

.header {
    width: 100%;
    margin: 0px;
    height: 5%;
    background-color: #f98e73;
    border: 0px;
    padding: 0px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#login_text {
    width: 10%;
    text-align: center;
}

#register_text {
    width: 10%;
    text-align: center;
}
