* {
    font-family: 'Lexend', sans-serif;
}

th {
    color: rgb(255, 255, 255);
    font-family: 'Unica One', cursive;
}

th, td {
    border-left-width: 0px;
    border-bottom-width: 0px;
    padding: 5px;
}

th:last-child, td:last-child {
    border-right-width: 0px;
}

h1 {
    text-align: center;
}

a:visited {
    color: darkslateblue;
}

#display_recipe_header {
    max-width: 100%;
    padding: 0%;
    margin: 0%;
    height: 200px;
}

#display_recipe_title {
    height: 200px;
    line-height: 200px;
    vertical-align: middle;
    background-position: center;
    background-size: cover;
    font-size: 50px;
    
}