{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'recipe.css' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lexend&family=Unica+One&display=swap" rel="stylesheet"> 
    </head>

    <body>
        <header id="display_recipe_header">
            <h1 style="background-image: url('{{ image }}');" id="display_recipe_title">{{ recipe_name }}</h1>
            
        </header>
        
        <a href={{ recipe_link }}>> Original Recipe</a>
        <p>{{ description }}</p>
        <h3>Ingredients</h3>
        <ul>
            {% for x in ingredients %}
            <li>{{ x }}</li>
            {% endfor %}
        </ul>
        <h3>Instructions</h3>
        <ol>
            {% for x in instructions %}
            <li>{{ x }}</li>
            {% endfor %}
        </ol>
    </body>
</html>